*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-container {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
    margin: 50px auto 0;
    position: relative;
    border-radius: 8px;
}

.slider-wrapper {
    position: relative;
    aspect-ratio: 2/1;
    width: 100%;
}

.slider-wrapper img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s ease-in-out, visibility 1s ease-in-out;
    visibility: hidden;
}

.slide[data-x="0"] {
    visibility: visible;
}

button {
    background-color: transparent;
    border: none;
}

#left-btn,
#right-btn {
    font-size: 44px;
    cursor: pointer;
    background-color: #a7393977;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

#left-btn {
}

#right-btn {
    right: 0;
}
